@using Multi_Library.Models;
@using Multi_Library.Interfaces;

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your Title</title>
    <link href="/css/IndexStyle.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <h2>Новинки в категории песен</h2>
    <div class="song-box">
        @{
           
        }
    </div>
</body>
</html>
